/* Link */
a{
 color:#ffffff;
}

/* Body */
body{
 margin-top:0px;
 margin-bottom:0px;
 margin-right:0px;
 margin-left:0px;
 background-color:#111111;
 background-image:url("background.png");
 background-size:cover;
 background-attachment:fixed;
 background-position-x:50%;
 background-position-y:50%;
 backdrop-filter:blur(4.28px) contrast(1.17) grayscale(0.75) hue-rotate(176deg) saturate(2.5) sepia(0.33);
 background-repeat:no-repeat;
}

