/* Body */
body{
 margin-top:0px;
 margin-left:0px;
 margin-bottom:0px;
 margin-right:0px;
 background-image:url("background.png");
 background-size:cover;
 background-position-x:50%;
 background-position-y:50%;
 background-attachment:fixed;
 color:rgb(0, 0, 0);
 background-clip:border-box;
 background-color:#111111;
}

/* Heading */
h6{
 margin-bottom:0px;
 margin-top:0px;
 font-size:1px;
}

/* Heading */
h1{
 margin-top:0px;
 font-size:1px;
}

/* Image */
img{
 position:relative;
 top:0px;
}

/* Image */
img:nth-child(3){
 top:-40px;
}

/* Iframe */
iframe{
 position:relative;
 top:-70px;
 left:9px;
}

