/* Body */
body{
 margin-top:0px;
 margin-left:0px;
 margin-bottom:0px;
 margin-right:0px;
 background-image:url("background.png");
 background-size:cover;
 background-position-x:50%;
 background-position-y:50%;
 background-attachment:fixed;
 color:rgb(0, 0, 0);
 background-clip:border-box;
 background-color:#111111;
}

/* Iframe */
iframe{
 position:relative;
 top:110px;
 left:-629px;
}

/* Image */
img:nth-child(3){
 position:relative;
 top:-250px;
 left:6px;
}

/* Image */
img{
 position:relative;
 left:70px;
 display:inline-block;
 transform:translatex(0px) translatey(0px) !important;
 right:auto !important;
}

/* Image */
img:nth-child(1){
 left:0px;
}

